/* static/css/styles.css */
.logo
{
  width: 300px;
  height: auto;
  margin-top: 10px;
}

.container
{
  width: 100%;
}
.right_part
{
  width: 50%;
  height: 500px;
}

body
{
    /* Specify the URL of the background image */
    background-image: url('/static/images/background.jpg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;

    /* Set the background to cover the entire viewport */
    /* If you want the background to scroll with the content, remove this property */
    min-height: 100vh;
    margin: 0;
}

nav
{
    background-color: white;
    height: 100px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use 'flex' to create a horizontal menu */
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0; /* Remove the margin on the last menu item */
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 20px;
    text-align: ;
  }
  
  nav a:hover {
    color: #555; /* Change color on hover */
  }
  
